# Курсовой проект

* Используя данные из train.csv, построить модель для предсказания цен на недвижимость (квартиры).
* С помощью полученной модели предсказать цены для квартир из файла test.csv.

* Целевая переменная: **Price**
* Основная метрика: **R2 - коэффициент детерминации** (sklearn.metrics.r2_score)
* Вспомогательная метрика: **MSE - средняя квадратичная ошибка** (sklearn.metrics.mean_squared_error)

##### Сдача проекта:
1. Прислать в раздел Задания Урока 12 ("Вебинар. Консультация по итоговому проекту") ссылку на программу в github (программа должна содержаться в файле Jupyter Notebook с расширением ipynb).
2. Приложить файл с названием по образцу SShirkin_predictions.csv с предсказанными ценами для квартир из test.csv (файл должен содержать два поля: Id, Price).

##### Примечание:
* Все файлы csv должны содержать названия полей (header - то есть "шапку"),разделитель - запятая. 
* В файлах не должны содержаться индексы из датафрейма.

## Подготовка данных

In [1]:
import numpy as np
import pandas as pd

In [46]:
df = pd.read_csv('train.csv')

In [42]:
df.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [62]:
# есть несколько записей со странными годами я приравнял их к 2020 кстати год 2020 
# я так понял предполагает что дом еще будет достроен к этому году

df.loc[df['HouseYear']>2019, 'HouseYear'] = 2020
df.loc[df['HouseFloor'] < 1, 'HouseFloor'] = 1

df

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,HouseFloor2
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,8.903972e-02,...,B,33,7976,5,NaN,0,11,B,184966.930730,NaN
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,6.998930e-05,...,B,46,10309,1,240.0,1,16,B,300009.450063,NaN
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,4.963726e-02,...,B,34,7759,0,229.0,1,3,B,220925.908524,NaN
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,4.378852e-01,...,B,23,5735,3,1084.0,0,5,B,175616.227217,NaN
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,1.233889e-02,...,B,35,5776,1,2078.0,2,4,B,150226.531644,NaN
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,3.094791e-01,...,B,35,7715,4,990.0,0,6,B,215898.447742,NaN
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,4.605564e-01,...,B,20,4386,14,NaN,1,5,B,296021.204377,NaN
7,11993,74,2.0,80.312926,NaN,0.0,14,1.0,1977,7.577876e-02,...,B,6,1437,3,NaN,0,2,B,221244.156664,14.0
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,7.122317e-03,...,B,1,264,0,NaN,0,1,B,229102.795999,NaN
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,7.577876e-02,...,B,6,1437,3,NaN,0,2,B,95380.220993,NaN
10,15370,28,2.0,46.304907,27.922584,6.0,8,9.0,1973,1.185374e-01,...,B,30,6207,1,1183.0,1,0,B,204243.553129,NaN
11,12427,31,3.0,68.808859,45.736906,7.0,1,8.0,1959,0.000000e+00,...,B,23,3684,2,NaN,0,4,B,165534.541425,NaN
12,6452,13,2.0,54.522805,31.759753,1.0,8,12.0,1999,9.079910e-02,...,B,74,19083,2,NaN,5,15,B,229220.372609,NaN
13,2408,57,3.0,68.102739,39.311493,8.0,6,12.0,1980,1.332153e-01,...,B,49,11395,3,1406.0,3,4,A,252481.908323,NaN
14,10953,27,1.0,53.769097,52.408027,1.0,5,4.0,1977,7.215758e-02,...,B,2,629,1,NaN,0,0,A,140647.565937,NaN
15,2823,85,3.0,73.612225,53.892089,6.0,4,9.0,1979,3.717782e-02,...,B,52,11217,1,2300.0,1,7,B,89084.327876,NaN
16,2119,27,2.0,49.360648,31.993964,5.0,6,5.0,1983,5.181543e-02,...,B,5,1227,0,NaN,0,0,B,117000.381287,NaN
17,3000,34,2.0,57.969964,32.012483,9.0,6,14.0,2001,6.975336e-02,...,B,53,13670,4,NaN,1,11,B,231828.437667,NaN
18,2829,57,1.0,44.513481,23.113423,8.0,6,12.0,1983,1.332153e-01,...,B,49,11395,3,1406.0,3,4,A,183743.230464,NaN
19,4909,19,3.0,110.959792,56.996765,11.0,16,25.0,2012,9.913630e-04,...,B,33,6783,3,NaN,1,9,B,394895.325987,NaN
20,8862,0,3.0,103.605292,47.799426,10.0,12,17.0,2002,3.198094e-01,...,B,25,4756,16,2857.0,5,8,B,521919.057400,NaN
21,11935,27,2.0,64.711835,NaN,1.0,15,1.0,1977,2.114012e-01,...,B,9,1892,0,NaN,0,1,B,127200.026511,NaN
22,11852,48,1.0,41.668650,20.207762,10.0,19,22.0,1996,4.112463e-02,...,B,46,9515,5,NaN,1,10,B,215083.969056,NaN
23,6641,54,3.0,118.907612,NaN,0.0,2,1.0,1977,6.076152e-03,...,B,30,5285,0,645.0,6,6,B,571069.052600,2.0
24,7704,150,3.0,62.180536,44.169694,5.0,4,5.0,1964,2.074133e-02,...,B,24,5613,5,1340.0,2,5,B,241718.099527,NaN
25,5073,74,2.0,82.667915,NaN,1.0,16,17.0,1977,7.577876e-02,...,B,6,1437,3,NaN,0,2,B,244145.827069,NaN
26,4378,27,3.0,106.958871,0.641822,0.0,17,1.0,2018,7.215758e-02,...,B,2,629,1,NaN,0,0,A,337299.867936,17.0
27,7550,23,2.0,64.556209,NaN,1.0,8,17.0,1977,7.577876e-02,...,B,6,1437,3,NaN,0,2,B,173910.923723,NaN
28,8054,23,1.0,42.530043,43.967759,1.0,3,9.0,2014,3.465608e-02,...,B,0,168,0,NaN,0,0,B,95338.198549,NaN
29,522,11,2.0,48.372232,31.007581,6.0,4,9.0,1972,1.696760e-04,...,B,36,5992,0,NaN,1,1,B,213374.166403,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,1612,84,3.0,53.430413,34.603687,6.0,8,9.0,1970,1.496664e-01,...,B,22,4789,2,4087.0,4,1,B,220804.817110,NaN
9971,16050,67,2.0,58.629682,36.330029,9.0,19,17.0,1989,1.004557e-01,...,B,43,7227,0,NaN,1,6,A,228845.682509,NaN
9972,6097,6,3.0,82.147338,NaN,1.0,17,17.0,1977,2.432045e-01,...,B,5,1564,0,540.0,0,0,B,222068.370598,NaN
9973,12590,115,2.0,48.201451,33.396431,8.0,15,14.0,1972,1.800000e-09,...,B,16,3681,73,1815.0,2,5,B,197405.312185,NaN
9974,2159,30,1.0,33.227093,32.639166,1.0,4,4.0,2016,7.815280e-05,...,B,22,6398,141,1046.0,3,23,B,65949.315881,NaN
9975,5071,27,2.0,60.055527,NaN,12.0,16,15.0,1977,7.215758e-02,...,B,2,629,1,NaN,0,0,A,190325.071232,NaN
9976,3621,22,2.0,58.853794,NaN,1.0,10,17.0,1977,1.185374e-01,...,B,30,6207,1,1183.0,1,0,B,175229.645872,NaN
9977,10650,54,2.0,38.599779,22.740244,6.0,2,12.0,1970,6.076152e-03,...,B,30,5285,0,645.0,6,6,B,174497.101781,NaN
9978,13725,1,2.0,67.510526,NaN,1.0,10,17.0,1977,7.122317e-03,...,B,1,264,0,NaN,0,1,B,185996.664227,NaN
9979,12758,64,2.0,56.203601,34.292901,8.0,13,17.0,1988,1.356498e-01,...,B,46,7960,6,350.0,3,11,B,339230.931543,NaN
9980,15654,10,2.0,49.975125,32.786612,6.0,5,9.0,1972,2.827977e-01,...,B,33,8667,2,NaN,0,6,B,203000.197806,NaN
9981,13352,77,2.0,53.537800,30.979054,8.0,10,12.0,1977,6.998930e-05,...,B,46,10309,1,240.0,1,16,B,242356.408174,NaN
9982,12805,8,1.0,39.195153,22.158768,9.0,12,12.0,1968,4.378852e-01,...,B,23,5735,3,1084.0,0,5,B,177449.715863,NaN
9983,2705,6,2.0,64.311707,61.920700,1.0,12,17.0,2015,2.432045e-01,...,B,5,1564,0,540.0,0,0,B,164356.212221,NaN
9984,2237,52,3.0,64.074977,47.633428,6.0,11,9.0,1983,3.711490e-01,...,B,34,7065,1,750.0,2,5,B,226434.880156,NaN
9985,16159,27,1.0,38.968338,NaN,1.0,10,1.0,1977,2.114012e-01,...,B,9,1892,0,NaN,0,1,B,95529.569405,NaN
9986,2996,1,2.0,64.994245,NaN,1.0,9,22.0,1977,7.122317e-03,...,B,1,264,0,NaN,0,1,B,200332.511658,NaN
9987,15623,23,2.0,55.620092,NaN,0.0,2,4.0,1977,3.465608e-02,...,B,0,168,0,NaN,0,0,B,115797.553006,NaN
9988,14025,53,2.0,54.167124,33.766477,8.0,5,23.0,1987,4.963726e-02,...,B,34,7759,0,229.0,1,3,B,261095.834383,NaN
9989,4145,96,3.0,90.055233,47.860231,11.0,26,24.0,2005,4.111635e-02,...,B,53,14892,4,NaN,1,4,B,441108.911237,NaN
9990,15233,1,3.0,57.373889,39.688445,5.0,2,5.0,1962,3.627009e-02,...,B,6,1318,1,200.0,1,1,B,163807.542987,NaN
9991,11553,3,3.0,101.622794,51.628780,12.0,18,17.0,2000,2.650887e-01,...,B,37,5288,0,1937.0,3,2,B,212883.501504,NaN
9992,14333,150,3.0,78.249637,49.385096,10.0,5,16.0,1976,3.003225e-01,...,B,52,10311,6,NaN,1,9,B,342418.758888,NaN
9993,48,13,3.0,80.631333,48.899083,10.0,11,14.0,1999,9.079910e-02,...,B,74,19083,2,NaN,5,15,B,350684.628560,NaN
9994,4158,23,2.0,64.864198,NaN,1.0,17,17.0,1977,7.577876e-02,...,B,6,1437,3,NaN,0,2,B,171323.515653,NaN
9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,1.356498e-01,...,B,46,7960,6,350.0,3,11,B,196684.316040,NaN
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000e+00,...,B,30,5562,0,NaN,0,5,A,189050.289571,NaN
9997,5123,27,1.0,47.939008,NaN,1.0,12,16.0,2015,7.215758e-02,...,B,2,629,1,NaN,0,0,A,159143.805370,NaN
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,3.074667e-01,...,A,30,5048,9,325.0,2,5,B,181595.339808,NaN
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000e+00,...,B,27,4798,0,30.0,2,8,B,218714.077615,NaN

In [5]:
df[df['Rooms'] < 1]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1397,12638,27,0.0,138.427694,136.215499,0.0,4,3.0,2016,0.075424,B,B,11,3097,0,NaN,0,0,B,268394.744389
1981,7917,27,0.0,212.932361,211.231125,0.0,2,3.0,2008,0.211401,B,B,9,1892,0,NaN,0,1,B,302211.260887
2269,7317,27,0.0,41.790881,NaN,0.0,13,0.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,98129.976788
3911,770,28,0.0,49.483501,NaN,0.0,16,0.0,2015,0.118537,B,B,30,6207,1,1183.0,1,0,B,217009.338463
4366,456,6,0.0,81.491446,NaN,0.0,4,0.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,212864.799112
4853,3224,27,0.0,2.377248,0.873147,0.0,1,0.0,1977,0.017647,B,B,2,469,0,NaN,0,0,B,126596.941798
6149,3159,88,0.0,38.697117,19.345131,9.0,9,16.0,1982,0.127376,B,B,43,8429,3,NaN,3,9,B,158998.110646
8834,9443,27,0.0,87.762616,85.125471,0.0,5,15.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,219281.918007

In [41]:
r = df[(df['Square']>37) & (df['Square']<39)  & (df['Rooms']!=0)].copy()
r['y'] = r['HouseYear'] // 10

r.pivot_table(values='HouseYear', index='Rooms', columns='y', aggfunc='count')

y,195,196,197,198,199,200,201,202,2005201
Rooms,,,,,,,,,
1.0,4.0,29.0,161.0,59.0,59.0,54.0,68.0,1.0,1.0
2.0,NaN,41.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN